/* 에스쁘아 css */
header {
    position: fixed; width: 100%;
    z-index: 999;
}
header .top_banner {
    background: #C22026;
    padding: 5px 20px; position: relative;
    text-align: center; overflow: hidden;
    max-height: 50px; transition: 0.4s;
}
header .top_banner p {
    font-size: 0.75em; color: #fff;
    
}
header .top_banner .close {
    position: absolute; top: 2px; right: 20px;
}
header .top_banner .close img {}
header .top_banner.hide {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}
/* 네비시작 */
header nav {
    height: 70px; position: relative;
    padding: 0 100px; display: flex; justify-content: space-between;
    background: #FFFFFF;
}
header nav .menu {
    display: flex; align-items: center; gap: 40px;
}
header nav .menu li {}
header nav .menu li a {
    font-size: 0.875em; color: #212121;
}
header nav h1 {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%); width: 200px;
}
header nav h1 img {
    width: 100%;
}
header nav .search_login {
    display: flex; align-items: center; gap: 40px;
}
header nav .search_login li {}
header nav .search_login li a {}
header nav .search_login li a img {}
/* 히어로 시작 */
main {}
main .hero {
    padding: 0 20px; 
}
main .hero .bg {
    background: #FDF8F8; position: relative;
    height: 100vh;
}
main .hero .bg .pic {
    display: flex; justify-content: space-between;
    height: 100%; overflow: hidden;
}
main .hero .bg .pic .left {
    display: flex; gap: 50px;
    align-items: center; justify-content: center;
}
main .hero .bg .pic .left li {}
main .hero .bg .pic .left li img {}
main .hero .bg .pic .right {
    display: flex; gap: 50px;
    align-items: center;
}
main .hero .bg .pic .right li {}
main .hero .bg .pic .right li img {}
main .hero .bg .person {
    position: absolute; bottom: 0;
    left: 50%; transform: translate(-120%, 0%); width: 200px;
}
.pic .left {
    animation: floatLeft 5s ease-in-out infinite;
}
.pic .right {
    animation: floatRight 5s ease-in-out infinite;
}
@keyframes floatLeft {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}
@keyframes floatRight {
    0%, 100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0);
    }
}
main .hero .bg .person img {}
main .hero .bg .slogan {
    position: absolute; top: 80%; left: 50%;
    transform: translate(-50%, -50%);
    width: max-content
}
main .hero .bg .slogan h2 {
    font-family: 'Playball'; font-size: 8em;
    color: rgba(255,255,255,0.8);
    text-shadow:
    0px 5px 8px rgba(211, 63, 63, 0.15),
    0px -2px 2px rgba(255, 255, 255, 0.8),
    0px 2px 2px rgba(245, 101, 115, 0.4);
}
main .hero .bg .slogan p {
    font-family: 'Cormorant Garamond'; font-weight: 500;
    font-size: 1.875em; color: #875055;
    text-align: center;
}
/* 베스트 시작 */
main .best {
    padding: 50px 100px; 
}
main .best h2 {
    font-size: 1.875em; font-weight: 700;
    color: #C22026; padding-bottom: 20px;
    text-align: center;
}
main .best ul {
    display: flex; height: 546px;
    justify-content: space-between;
}
main .best ul li {}
main .best ul li a {}
main .best ul li a .thum {
    width: 415px; height: 450px;
}
main .best ul li:nth-child(1) a .thum { 
    background: url(../image/best_1.png) no-repeat center center;
    background-size: cover;
}
main .best ul li:nth-child(2) a .thum { 
    background: url(../image/best_2.png) no-repeat center center;
    background-size: cover;
}
main .best ul li:nth-child(3) a .thum { 
    background: url(../image/best_3.png) no-repeat center center;
    background-size: cover;
}
main .best ul li:nth-child(4) a .thum { 
    background: url(../image/best_4.png) no-repeat center center;
    background-size: cover;
}
main .best ul li:nth-child(1):hover a .thum { 
    background: url(../image/best_1_h.png) no-repeat center center;
    background-size: cover;
}
main .best ul li:nth-child(2):hover a .thum { 
    background: url(../image/best_2_h.png) no-repeat center center;
    background-size: cover;
}
main .best ul li:nth-child(3):hover a .thum { 
    background: url(../image/best_3_h.png) no-repeat center center;
    background-size: cover;
}
main .best ul li:nth-child(4):hover a .thum { 
    background: url(../image/best_4_h.png) no-repeat center center;
    background-size: cover;
}
main .best ul li a .info {
    display: flex; justify-content: center;
    align-items: center; flex-flow: column;
    gap: 20px; height: 96px;
}
main .best ul li a .info .name {
    font-size: 1.125em;
}
main .best ul li a .info .emp_pri {
    display: flex; gap: 5px; 
    justify-content: center; align-items: center;
}
main .best ul li a .info .emp_pri .emp {
    font-size: 0.75; color: #C22026; font-weight: 500;
    border: 1px solid #C22026; padding: 2px 5px;
}
main .best ul li a .info .emp_pri .price {
    font-size: 0.938em;
}
/* 미니배너시작 */
main .mini_banner {
    background: #C22026; padding: 15px 0px;
}
main .mini_banner p {
    text-align: center; color: #fff;
    font-size: 0.813em; font-weight: 300;
}
/* 포인트시작 */
main .point {
    height: 792px; display: flex;
}
main .point .point_cta {
    flex: 1; padding: 50px 40px;
    display: flex; flex-flow: column; justify-content: space-between;
}
main .point .point_cta .top {}
main .point .point_cta .top h2 {
    color: #C22026; font-family: 'Cormorant Garamond';
    font-size: 5em; font-weight: 700; padding-bottom: 10px;
}
main .point .point_cta .top p {
    color: #ADADAD; font-size: 0.938em;

}
main .point .point_cta .middle {
    display: flex; justify-content: space-between;
    align-items: center;
}
main .point .point_cta .middle p {
    font-family: 'Cormorant Garamond'; font-style: italic;
    font-size: 9.375em; color: #ADADAD;
}
main .point .point_cta .middle p img {}
main .point .point_cta .bottom {
    display: flex; justify-content: space-between;
}
main .point .point_cta .bottom .left {
    display: flex; flex-flow: column; align-items: flex-end;
}
main .point .point_cta .bottom .left p {
    font-size: 1.25em; color: #ADADAD;
    font-weight: 500;
}
main .point .point_cta .bottom .left .arrow {
    display: flex; justify-content: center;
    align-items: center;
}
main .point .point_cta .bottom .left .arrow p {
    color: #C22026; font-weight: 500;
}
main .point .point_cta .bottom .left .arrow img {}
main .point .point_cta .bottom .title {
    font-family: 'Cormorant Garamond'; font-weight: 700;
    font-style: italic; font-size: 5em; color: #C22026;
}
main .point .custom .bottom .title > span {
    color: #ADADAD; font-family: 'Cormorant Garamond';
    font-style: normal; font-weight: 700;
}
main .point .model {
    background: url(../image/point.png) no-repeat center center;
    background-size: cover; flex: 1;
}
main .personal:hover {background: rgba(0,0,0,0.2);}
main .custom:hover {background: rgba(0,0,0,0.2);}