/* 에스쁘아 css */
header {
    position: fixed; width: 100%;
    z-index: 999;
}
header .top_banner {
    background: #C22026;
    padding: 5px 20px; position: relative;
    text-align: center; overflow: hidden;
    max-height: 50px; transition: 0.4s;
}
header .top_banner p {
    font-size: 0.75em; color: #fff;
    
}
header .top_banner .close {
    position: absolute; top: 2px; right: 20px;
}
header .top_banner .close img {}
header .top_banner.hide {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
}
/* 네비시작 */
header nav {
    height: 70px; position: relative;
    padding: 0 100px; display: flex; justify-content: space-between;
    background: #FFFFFF; 
}
header nav .menu {
    display: flex; align-items: center; gap: 40px;
}
header nav .menu li {}
header nav .menu li a {
    font-size: 0.875em; color: #212121;
}
header nav h1 {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%); width: 200px;
}
header nav h1 img {
    width: 100%;
}
header nav .search_login {
    display: flex; align-items: center; gap: 40px;
}
header nav .search_login li {}
header nav .search_login li a {}
header nav .search_login li a img {}
/* 히어로 시작 */
main {}
main .hero {}
main .hero .bg {
    background: #FEF4F4; position: relative;
    height: 100vh; padding: 0 20px; 
}
main .hero .bg .pic {
    display: flex; justify-content: space-between;
    height: 100%; overflow: hidden;
}
main .hero .bg .pic .left {
    display: flex; gap: 50px;
    align-items: center; justify-content: center;
}
main .hero .bg .pic .left li {}
main .hero .bg .pic .left li img {}
main .hero .bg .pic .right {
    display: flex; gap: 50px;
    align-items: center;
}
main .hero .bg .pic .right li {}
main .hero .bg .pic .right li img {}
main .hero .bg .person {
    position: absolute; bottom: 0;
    left: 50%; transform: translate(-120%, 0%); width: 200px;
}
.pic .left {
    animation: floatLeft 5s ease-in-out infinite;
}
.pic .right {
    animation: floatRight 5s ease-in-out infinite;
}
@keyframes floatLeft {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}
@keyframes floatRight {
    0%, 100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0);
    }
}
main .hero .bg .person img {}
main .hero .bg .slogan {
    position: absolute; top: 80%; left: 50%;
    transform: translate(-50%, -50%);
    width: max-content
}
main .hero .bg .slogan h2 {
    font-family: 'Playball'; font-size: 8em;
    color: rgba(255,255,255,0.8);
    text-shadow:
    0px 5px 8px rgba(211, 63, 63, 0.15),
    0px -2px 2px rgba(255, 255, 255, 0.8),
    0px 2px 2px rgba(245, 101, 115, 0.4);
}
main .hero .bg .slogan p {
    font-family: 'Cormorant Garamond'; font-weight: 500;
    font-size: 1.875em; color: #875055;
    text-align: center;
}
/* 베스트 시작 */
main .best {
    padding: 50px 100px; 
}
main .best h2 {
    font-size: 1.875em; font-weight: 700;
    color: #C22026; padding-bottom: 20px;
    text-align: center; letter-spacing: -0.05em;
}
main .best ul {
    display: flex; height: 546px;
    justify-content: space-between;
}
main .best ul li {}
main .best ul li a {}
main .best ul li a .thum {
    width: 415px; height: 450px;
}
main .best ul li:nth-child(1) a .thum { 
    background: url(../image/best_1.png) no-repeat center center;
    background-size: cover;
}
main .best ul li:nth-child(2) a .thum { 
    background: url(../image/best_2.png) no-repeat center center;
    background-size: cover;
}
main .best ul li:nth-child(3) a .thum { 
    background: url(../image/best_3.png) no-repeat center center;
    background-size: cover;
}
main .best ul li:nth-child(4) a .thum { 
    background: url(../image/best_4.png) no-repeat center center;
    background-size: cover;
}
main .best ul li:nth-child(1):hover a .thum { 
    background: url(../image/best_1_h.png) no-repeat center center;
    background-size: cover;
}
main .best ul li:nth-child(2):hover a .thum { 
    background: url(../image/best_2_h.png) no-repeat center center;
    background-size: cover;
}
main .best ul li:nth-child(3):hover a .thum { 
    background: url(../image/best_3_h.png) no-repeat center center;
    background-size: cover;
}
main .best ul li:nth-child(4):hover a .thum { 
    background: url(../image/best_4_h.png) no-repeat center center;
    background-size: cover;
}
main .best ul li a .info {
    display: flex; justify-content: center;
    align-items: center; flex-flow: column;
    gap: 20px; height: 96px;
}
main .best ul li a .info .name {
    font-size: 1.125em;
}
main .best ul li a .info .emp_pri {
    display: flex; gap: 5px; 
    justify-content: center; align-items: center;
}
main .best ul li a .info .emp_pri .emp {
    font-size: 0.75; color: #C22026; font-weight: 500;
    border: 1px solid #C22026; padding: 2px 5px;
}
main .best ul li a .info .emp_pri .price {
    font-size: 0.938em;
}
/* 미니배너시작 */
main .mini_banner {
    background: #C22026; padding: 15px 0px;
}
main .mini_banner p {
    text-align: center; color: #fff;
    font-size: 0.813em; font-weight: 300;
}
/* 포인트시작 */
main .point_wrap {
    height: 2200px;
    position: relative;
}
main .point {
    height: 850px;
    position: sticky;
    top: 80px; display: flex;
}
main .point .point_cta {
    flex: 1; padding: 50px 40px;
    display: flex; flex-flow: column; justify-content: space-between;
}
main .point .point_cta .top {}
main .point .point_cta .top h2 {
    color: #C22026; font-family: 'Cormorant Garamond';
    font-size: 5em; font-weight: 700; padding-bottom: 10px;
}
main .point .point_cta .top p {
    color: #ADADAD; font-size: 0.938em;

}
main .point .point_cta .middle {
    display: flex; justify-content: space-between;
    align-items: center;
}
main .point .point_cta .middle p {
    font-family: 'Cormorant Garamond'; font-style: italic;
    font-size: 9.375em; color: #ADADAD;
}
main .point .point_cta .middle p img {}
main .point .point_cta .bottom {
    display: flex; justify-content: space-between;
}
main .point .point_cta .bottom .left {
    display: flex; flex-flow: column; align-items: flex-end;
}
main .point .point_cta .bottom .left p {
    font-size: 1.25em; color: #ADADAD;
    font-weight: 500;
}
main .point .point_cta .bottom .left .arrow {
    display: flex; justify-content: center;
    align-items: center;
}
main .point .point_cta .bottom .left .arrow p {
    color: #C22026; font-weight: 500;
}
main .point .point_cta .bottom .left .arrow img {}
main .point .point_cta .bottom .title {
    font-family: 'Cormorant Garamond'; font-weight: 700;
    font-style: italic; font-size: 5em; color: #C22026;
}
main .point .custom .bottom .title > span {
    color: #ADADAD; font-family: 'Cormorant Garamond';
    font-style: normal; font-weight: 700;
}
main .point .model {
    background: url(../image/point.png) no-repeat center center;
    background-size: cover; flex: 1;
}
main .personal:hover {background: rgba(0,0,0,0.2);}
main .custom:hover {background: rgba(0,0,0,0.2);}
main .personal { left: 0; }
main .model { left: 33.333%; }
main .custom { left: 66.666%; }
main .point .personal,
main .point .model,
main .point .custom {
    position: absolute;
    top: 0;
    height: 850px;
    width: 33.333%;
}
.point_clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 850px;
    overflow: hidden;
}
/* 카테고리 시작 */
main .category {
    background: #C22026; padding: 50px 50px;
}
main .category .top {
    display: flex; flex-flow: column;
    justify-content: center; gap: 40px;
    align-items: center; 
}
main .category .top h2 {
    font-weight: 800; font-size: 1.875em;
    color: #fff; letter-spacing: -0.05em;
}
main .category .top .sub {
    display: flex; gap: 25px;
    padding-bottom: 50px;
}
main .category .top .sub li {
    background: #fff;
    border-radius: 50px;
}
main .category .top .sub li a {
    color: #C22026; line-height: 1.2; display: block;
    letter-spacing: -0.05em; padding: 10px 40px;
}
main .category .top .sub .active {
    background: none; border : 1px solid #fff;
}
main .category .top .sub .active a {color: #fff;}
main .category .bottom {
    display: flex; gap: 20px;
}
main .category .bottom li {
    flex: 1; height: 546px;
}
main .category .bottom li a {}
main .category .bottom li a .thum {
    height: 450px;
}
main .category .bottom li a .info {
    padding: 20px 0; 
}
main .category .bottom li a .info h3 {
    padding-bottom: 10px; font-weight: 600;
    line-height: 1.2; letter-spacing: -0.05em;
    color: #fff; font-size: 0.938em;
}
main .category .bottom li a .info .price {
    line-height: 1.2; letter-spacing: -0.05em;
    color: #fff; font-size: 0.938em;
}
main .category .bottom li:nth-child(1) a .thum { 
    background: url(../image/cate_1.png) no-repeat center center;
    background-size: cover;
}
main .category .bottom li:nth-child(2) a .thum { 
    background: url(../image/cate_2.png) no-repeat center center;
    background-size: cover;
}
main .category .bottom li:nth-child(3) a .thum { 
    background: url(../image/cate_3.png) no-repeat center center;
    background-size: cover;
}
main .category .bottom li:nth-child(4) a .thum { 
    background: url(../image/cate_4.png) no-repeat center center;
    background-size: cover;
}
main .category .bottom li:nth-child(5) a .thum { 
    background: url(../image/cate_5.png) no-repeat center center;
    background-size: cover;
}
main .category .bottom li:nth-child(6) a .thum { 
    background: url(../image/cate_6.png) no-repeat center center;
    background-size: cover;
}
/* 비디오 시작 */
main .video_wrap {}
main .video_wrap iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: 0; display: block;
}
/* 시즌 추천 시작 */
main .season {
    background: url(../image/season_bg.png) no-repeat center center;
    background-size: cover; padding: 50px;
}
main .season .top {
    display: flex; flex-flow: column;
    justify-content: center; gap: 10px;
    align-items: center; padding-bottom: 50px;
}
main .season .top h2 {
    font-weight: 800; font-size: 1.875em;
    color: #06637B; letter-spacing: -0.05em;
}
main .season .top p {
    line-height: 1.2; letter-spacing: -0.05em;
    color: #fff; font-size: 0.938em;
}
main .season ul {
    display: flex; gap: 20px;
}
main .season ul li {
    flex: 1;
}
main .season ul li a {}
main .season ul li a .thum {
    height: 450px;
}
main .season ul li a .info {
    padding-top: 20px;
}
main .season ul li a .info h3 {
    padding-bottom: 10px; font-weight: 600;
    line-height: 1.2; letter-spacing: -0.05em;
    color: #212121; font-size: 0.938em;
}
main .season ul li a .info p {
    line-height: 1.2; letter-spacing: -0.05em;
    color: #212121; font-size: 0.938em;
}
main .season li:nth-child(1) a .thum {
    background: url(../image/season_1.png) no-repeat center center;
    background-size: cover;
}
main .season li:nth-child(2) a .thum {
    background: url(../image/season_2.png) no-repeat center center;
    background-size: cover;
}
main .season li:nth-child(3) a .thum {
    background: url(../image/season_3.png) no-repeat center center;
    background-size: cover;
}
main .season li:nth-child(4) a .thum {
    background: url(../image/season_4.png) no-repeat center center;
    background-size: cover;
}
/* 룩북시작 */
main .lookbook {
    padding: 80px 40px;
}
main .lookbook .look_wrap {
    height: 608px; display: flex;
}
main .lookbook .left {
    background: url(../image/look_left.png) no-repeat center center;
    background-size: cover; padding: 10px;
    flex: 0.8; display: flex; justify-content: flex-end;
    align-items: flex-start; flex-flow: column;
}
main .lookbook .left p {
    color: #fff; font-weight: 300;
    font-size: 1.25em; letter-spacing: -0.1em;
    padding-left: 5px; 
}
main .lookbook .left h3 {
    color: #fff; font-family: 'Cormorant Garamond';
    font-size: 3.125em; font-weight: 700;
}
main .lookbook .left h3 span {
    color: #fff; font-family: 'Cormorant Garamond';
    font-style: italic;
}
main .lookbook .middle {
    background: url(../image/look_middle.png) no-repeat center center;
    background-size: cover;
    flex: 1; padding: 10px;
    display: flex; justify-content: flex-end;
    align-items: flex-end; flex-flow: column;
}
main .lookbook .middle h3 {
    color: #fff; font-family: 'Cormorant Garamond';
    font-size: 3.125em;
}
main .lookbook .middle h3 span {
    color: #fff; font-family: 'Cormorant Garamond';
    font-style: italic;
}
main .lookbook .right {
    flex: 1; background: #F5F5F5;
    display: flex; flex-flow: column; gap: 15px;
    justify-content: center; align-items: center;
}
main .lookbook .right h3 {
    font-family: 'Cormorant Garamond'; font-weight: 700;
    font-size: 2.5em; color: #C22026; letter-spacing: -0.05em;
}
main .lookbook .right .big_chat {
    background: url(../image/big_chat.png) no-repeat center center;
    background-size: contain; width: 554px; height: 292px;
    display: flex; justify-content: center; align-items: center;
}
main .lookbook .right .big_chat p {
    height: 209px; width: 174.62px;
}
main .lookbook .right .big_chat p img {
    width: 100%;
}
main .lookbook .right .small_chat {
    background: url(../image/small_chat.png) no-repeat center center;
    background-size: contain; width: 554px; height: 68px;
    display: flex; justify-content: center; align-items: center;
    flex-flow: column; gap: 5px; padding: 50px 40px;
}
main .lookbook .right .small_chat * {
    font-size: 0.938em;
}
main .lookbook .right .small_chat .name {}
main .lookbook .right .small_chat .price {
    font-weight: 700;
}
main .lookbook .right .send {
    display: flex; justify-content: space-between;
    width: 520px; background: #fff; border-radius: 50px; 
    border: 1px solid #ADADAD ; align-items: center;
    padding: 5px 5px 5px 14px;
}
main .lookbook .right .send .ment {
    font-size: 0.938em; letter-spacing: -0.02em;
}
main .lookbook .right .send .ment::after {
    content: '';
    border-right: 1px solid #06637B;
    padding-right: 4px;
    margin-right: 4px;
}
main .lookbook .right .send .btn {
    width: 22px; height: 22px;
}
main .lookbook .right .send .btn img {
    width: 100%;
}
/* 컬렉션 시작 */
main .collection {
    display: flex; height: 800px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
main .collection .coll {
    flex: 1; display: flex; flex-flow: column;
    justify-content: center; align-items: center;
    gap: 15px; position: relative; overflow: hidden;
}
main .collection .coll::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: 0.3s;
}
main .collection .coll:hover::before {
    opacity: 1;
}
main .collection .coll:hover h3 {opacity: 1;}
main .collection .coll:hover p {opacity: 1;}
main .collection .coll h3 {
    font-size: 2.5em; font-family: 'Cormorant Garamond';
    font-weight: 700; font-style: italic; color: #fff;
    text-align: center; letter-spacing: -0.05em;
    opacity: 0; transition: 0.3s; z-index: 2;
}
main .collection .coll p {
    font-size: 1.25em; color: #fff;
    letter-spacing: -0.1em; z-index: 2;
    opacity: 0; transition: 0.3s;
}
main .collection .rose {
    background: url(../image/rose_bg.png) no-repeat center center;
    background-size: cover;
}
main .collection .beglow {
    background: url(../image/beglow_bg.png) no-repeat center center;
    background-size: cover;
}
main .collection .galaxy {
    background: url(../image/galaxy_bg.png) no-repeat center center;
    background-size: cover;
}
/* 푸터시작 */
footer {
    background: #000; padding: 50px 50px;
}
footer .top {
    display: flex; justify-content: center; align-items: center;
    flex-flow: column; gap: 10px;
}
footer .top * {color: #fff;}
footer .top .logo {}
footer .top .logo img {}
footer .top .f_menu {
    display: flex; font-size: 0.813em; gap: 10px;
    font-weight: 700; letter-spacing: -0.02em; justify-content: center;
    border-bottom: 1px solid #fff; width: 100%; padding-bottom: 20px;
} 
footer .top .f_menu li {}
footer .top .f_menu li a {}
footer .middle {
    padding: 20px 0; display: flex; justify-content: space-between;
    align-items: center;
}
footer .middle * {color: #fff;}
footer .middle .left {
    display: flex; gap: 10px;
}
footer .middle .left li {}
footer .middle .left li a {
    font-size: 0.813em;
}
footer .middle .right {
    display: flex; gap: 10px;
}
footer .middle .right a {}
footer .middle .right a img {}
footer .bottom {
    padding-bottom: 20px; display: flex; flex-flow: column;
    gap: 5px;
}
footer .bottom * {
    color: #737373;
}
footer .bottom li {}
footer .bottom li span {
    font-size: 0.813em; letter-spacing: -0.02em; 
}
footer .copy {
    font-size: 0.813em; letter-spacing: -0.02em; 
    color: #fff;
}
footer .bold a {font-weight: 900;}
footer .bold {font-weight: 900; color: #fff;}
footer .under {text-decoration: underline;}
/* cta */
.top_btn {
    position: fixed; background: #fff;
    bottom: 30px; right: 50px; width: 40px; height: 40px;
    border-radius: 100px;
}
.top_btn img {
    transform: rotate(-90deg);
}